#link{
    text-decoration-style: wavy;
    text-decoration-color: brown;
}
h1{
    text-transform: capitalize;
    /* text-shadow: 6px 10px; */
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    font-weight: bold;
}
p{
    /* text-indent: 1em; */
    /* letter-spacing:2px; */
    /* word-spacing: 5px; */
    /* line-height: 30px;
    text-shadow: 2px 2px ; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style:normal;
}